.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px #333 solid;
    padding: 5px;
    margin: 10px;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}
