.modal-shown {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    z-index: 1050;
    background-color: white;
    border: 2px;
    .modal-header {
        background-color: darkkhaki;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .edit-message-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: flex-end;
        .edit-message-input{
            height: 80%;
        }
        .edit-message-button{
            margin-left: auto;
            margin-top: 5px;
        }
    }
}
