.user-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
    margin: 20px;
    width: 80%;
    height: 50px;
    padding: 10px;
    border: 1px #333 solid;
    font-size: 1.2rem;
}

.user-item  > span {
    margin-right: 30px;
}

.user-controls {
    margin-left: auto;
}

.user-controls > button {
    margin-left: 20px;
}